@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  @apply bg-bg-card dark:bg-darkBg-card text-center py-6 rounded before:content-[''] before:w-full before:h-1 relative before:absolute before:left-0 before:top-0 overflow-hidden
}

.card-sm{
  @apply bg-bg-card dark:bg-darkBg-card text-center dark:text-white rounded p-4
}
